<a href="https://colab.research.google.com/github/setyo-dwi-pratama/data-analyst/blob/master/sales2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Retail (Sales)**

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
sales = pd.read_csv("https://raw.githubusercontent.com/setyo-dwi-pratama/data-analyst/master/sales.csv") #input file dataset sales

In [13]:
sales

            order_id  order_date customer_id  ...     sales quantity    profit
0     CA-2016-152156  2016-11-08    CG-12520  ...  261.9600        2   41.9136
1     CA-2016-152156  2016-11-08    CG-12520  ...  731.9400        3  219.5820
2     CA-2016-138688  2016-06-12    DV-13045  ...   14.6200        2    6.8714
3     US-2015-108966  2015-10-11    SO-20335  ...  957.5775        5 -383.0310
4     US-2015-108966  2015-10-11    SO-20335  ...   22.3680        2    2.5164
...              ...         ...         ...  ...       ...      ...       ...
9983  CA-2014-110422  2014-01-21    TB-21400  ...   25.2480        3    4.1028
9984  CA-2017-121258  2017-02-26    DB-13060  ...   91.9600        2   15.6332
9985  CA-2017-121258  2017-02-26    DB-13060  ...  258.5760        2   19.3932
9986  CA-2017-121258  2017-02-26    DB-13060  ...   29.6000        4   13.3200
9987  CA-2017-119914  2017-05-04    CC-12220  ...  243.1600        2   72.9480

[9988 rows x 9 columns]

In [14]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   object
 1   order_date    9988 non-null   object
 2   customer_id   9988 non-null   object
 3   segment       9988 non-null   object
 4   category      9988 non-null   object
 5   sub_category  9988 non-null   object
 6   sales         9988 non-null   float64
 7   quantity      9988 non-null   int64
 8   profit        9988 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 702.4+ KB

In [15]:
sales.columns

Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit'],
      dtype='object')

In [16]:
sales.isnull().sum()

order_id        0
order_date      0
customer_id     0
segment         0
category        0
sub_category    0
sales           0
quantity        0
profit          0
dtype: int64

In [19]:
sales['order_date'] = pd.to_datetime(sales['order_date'])

In [20]:
sales.sort_values(by=['order_date'], ignore_index=True, inplace=True)

In [21]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   object
 1   order_date    9988 non-null   datetime64[ns]
 2   customer_id   9988 non-null   object
 3   segment       9988 non-null   object
 4   category      9988 non-null   object
 5   sub_category  9988 non-null   object
 6   sales         9988 non-null   float64
 7   quantity      9988 non-null   int64
 8   profit        9988 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 702.4+ KB

In [22]:
sales

            order_id order_date customer_id  ...    sales quantity   profit
0     CA-2014-103800 2014-01-03    DP-13000  ...   16.448        2   5.5512
1     CA-2014-112326 2014-01-04    PO-19195  ...    3.540        2  -5.4870
2     CA-2014-112326 2014-01-04    PO-19195  ...  272.736        3 -64.7748
3     CA-2014-112326 2014-01-04    PO-19195  ...   11.784        3   4.2717
4     CA-2014-141817 2014-01-05    MB-18085  ...   19.536        3   4.8840
...              ...        ...         ...  ...      ...      ...      ...
9983  CA-2017-115427 2017-12-30    EB-13975  ...   13.904        2   4.5188
9984  CA-2017-115427 2017-12-30    EB-13975  ...   20.720        2   6.4750
9985  CA-2017-156720 2017-12-30    JM-15580  ...    3.024        3  -0.6048
9986  CA-2017-143259 2017-12-30    PO-18865  ...   52.776        3  19.7910
9987  CA-2017-143259 2017-12-30    PO-18865  ...  323.136        4  12.1176

[9988 rows x 9 columns]

# Akses Data Pertahun

In [23]:
def data0(tah):
  hasil = pd.DataFrame()
  df = sales
  y = [2014,2015,2016,2017]
  if tah in y:
    tahun = df['order_date'].map(lambda x : x.year  == tah)
    hasil = df[tahun].reset_index(drop=True)
  else:
    print("Maaf, tidak ada data di tahun tersebut")
    print("""Pilih Tahun :
    2014
    2015
    2016
    2017""")
  return hasil

In [24]:
data0(2014)

            order_id order_date customer_id  ...     sales quantity    profit
0     CA-2014-103800 2014-01-03    DP-13000  ...    16.448        2    5.5512
1     CA-2014-112326 2014-01-04    PO-19195  ...     3.540        2   -5.4870
2     CA-2014-112326 2014-01-04    PO-19195  ...   272.736        3  -64.7748
3     CA-2014-112326 2014-01-04    PO-19195  ...    11.784        3    4.2717
4     CA-2014-141817 2014-01-05    MB-18085  ...    19.536        3    4.8840
...              ...        ...         ...  ...       ...      ...       ...
1987  CA-2014-127383 2014-12-31    CM-11815  ...    49.568        2   17.9684
1988  CA-2014-133592 2014-12-31    KM-16375  ...  1687.800        4  742.6320
1989  CA-2014-111150 2014-12-31    RW-19630  ...    29.680        7   11.5752
1990  CA-2014-133592 2014-12-31    KM-16375  ...   195.640        4   91.9508
1991  US-2014-133949 2014-12-31    JL-15175  ...   475.944        7   59.4930

[1992 rows x 9 columns]

In [25]:
data0(2015)

            order_id order_date customer_id  ...     sales quantity    profit
0     CA-2015-104514 2015-01-02    CB-12535  ...    85.520        2   22.2352
1     CA-2015-146262 2015-01-02    VW-21775  ...    62.982        3  -14.6958
2     CA-2015-104514 2015-01-02    CB-12535  ...    20.040        3    9.6192
3     CA-2015-146262 2015-01-02    VW-21775  ...  1188.000        9 -950.4000
4     CA-2015-146262 2015-01-02    VW-21775  ...    23.680        2    8.8800
...              ...        ...         ...  ...       ...      ...       ...
2097  CA-2015-109470 2015-12-31    KC-16255  ...    76.300        5   38.1500
2098  CA-2015-156377 2015-12-31    TB-21625  ...     3.656        4   -5.8496
2099  CA-2015-109470 2015-12-31    KC-16255  ...    94.740        3   44.5278
2100  CA-2015-120901 2015-12-31    BG-11035  ...     5.888        2   -1.3248
2101  CA-2015-139780 2015-12-31    AH-10690  ...   116.400        8   52.3800

[2102 rows x 9 columns]

In [26]:
data0(2016)

            order_id order_date customer_id  ...    sales quantity   profit
0     CA-2016-160304 2016-01-02    BM-11575  ...  231.980        2  67.2742
1     CA-2016-160304 2016-01-02    BM-11575  ...  173.940        3  38.2668
2     US-2016-116365 2016-01-03    CA-12310  ...  180.960        5  13.5720
3     CA-2016-125206 2016-01-03    LR-16915  ...  114.460        2  28.6150
4     CA-2016-105207 2016-01-03    BO-11350  ...   11.880        2   5.3460
...              ...        ...         ...  ...      ...      ...      ...
2580  CA-2017-160395 2016-12-31    KL-16555  ...    3.640        2   1.6380
2581  CA-2017-100202 2016-12-31    BD-11620  ...  302.376        3  22.6782
2582  CA-2017-156139 2016-12-31    BP-11155  ...   38.376        3  13.4316
2583  US-2017-165953 2016-12-31    EP-13915  ...   47.616        3   3.5712
2584  US-2017-165953 2016-12-31    EP-13915  ...   23.480        5   8.2180

[2585 rows x 9 columns]

In [27]:
data0(2017)

            order_id order_date customer_id  ...    sales quantity    profit
0     CA-2017-151750 2017-01-01    JM-15250  ...   15.224        2  -38.8212
1     CA-2017-144463 2017-01-01    SC-20725  ...  474.430       11  199.2606
2     CA-2017-151750 2017-01-01    JM-15250  ...  454.560        5 -107.9580
3     CA-2017-154466 2017-01-01    DP-13390  ...    3.600        2    1.7280
4     CA-2017-107503 2017-01-01    GA-14725  ...   48.896        4    8.5568
...              ...        ...         ...  ...      ...      ...       ...
3304  CA-2017-115427 2017-12-30    EB-13975  ...   13.904        2    4.5188
3305  CA-2017-115427 2017-12-30    EB-13975  ...   20.720        2    6.4750
3306  CA-2017-156720 2017-12-30    JM-15580  ...    3.024        3   -0.6048
3307  CA-2017-143259 2017-12-30    PO-18865  ...   52.776        3   19.7910
3308  CA-2017-143259 2017-12-30    PO-18865  ...  323.136        4   12.1176

[3309 rows x 9 columns]

In [28]:
data0(2019)

Maaf, tidak ada data di tahun tersebut
Pilih Tahun :
    2014
    2015
    2016
    2017

Empty DataFrame
Columns: []
Index: []

# Akses Data Pertahun dan Bulan

In [29]:
def data1(tah,bul):
  hasil = pd.DataFrame()
  df = sales
  y = [2014,2015,2016,2017]
  m = [1,2,3,4,5,6,7,8,9,10,11,12]
  if tah in y and bul in m:
    tahun = df['order_date'].map(lambda x : x.year  == tah)
    bulan = df['order_date'].map(lambda x : x.month  == bul)
    hasil = df[tahun & bulan].reset_index(drop=True)
  else:
    print("Maaf, tidak ada data ditahun dan bulan tersebut")
    print("""Pilih Tahun :
    2014
    2015
    2016
    2017""")
    print("""Pilih Bulan :
    1 : Januari
    2 : Februari
    3 : Maret
    4 : April
    5 : Mei
    6 : Bulannya Setyo nah
    7 : Juli
    8 : Agustus
    9 : September
    10 : Oktober
    11 : November
    12 : Desember""")
  return hasil

## Akses Data Pertahun, Bulan dan Segment

In [30]:
sales.segment.unique()

array(['Consumer', 'Home Office', 'Corporate'], dtype=object)

In [31]:
def data2(tah, bul, seg):
  hasil = pd.DataFrame()
  df = data1(tah, bul)
  teks = str(seg)
  seg_unique = ["Consumer","Home Office","Corporate"]
  if seg in seg_unique:
    segment1 = df[df['segment'] == teks]
    hasil = segment1.reset_index(drop=True) 
  else:
    print("Maaf Anda Salah Input Data")
  return hasil

In [32]:
data2(2014,1,'Consumer')

          order_id order_date customer_id  ...     sales quantity    profit
0   CA-2014-103800 2014-01-03    DP-13000  ...    16.448        2    5.5512
1   CA-2014-141817 2014-01-05    MB-18085  ...    19.536        3    4.8840
2   CA-2014-130813 2014-01-06    LS-17230  ...    19.440        3    9.3312
3   CA-2014-105417 2014-01-07    VS-21820  ...    10.430        7  -18.2525
4   CA-2014-105417 2014-01-07    VS-21820  ...    76.728        3  -53.7096
5   CA-2014-135405 2014-01-09    MS-17830  ...    31.200        3    9.7500
6   CA-2014-135405 2014-01-09    MS-17830  ...     9.344        2    1.1680
7   CA-2014-130092 2014-01-11    SV-20365  ...     9.940        2    3.0814
8   CA-2014-118192 2014-01-13    MM-17920  ...     3.438        2   -2.5212
9   CA-2014-118192 2014-01-13    MM-17920  ...    37.408        7   13.0928
10  CA-2014-157147 2014-01-13    BD-11605  ...  1325.850        5  238.6530
11  CA-2014-157147 2014-01-13    BD-11605  ...   333.999        3    3.9294
12  CA-2014-157147 2014-01-13    BD-11605  ...    19.900        5    6.5670
13  CA-2014-109232 2014-01-13    ND-18370  ...   545.940        6   87.3504
14  CA-2014-103366 2014-01-15    EH-13990  ...   149.950        5   65.9780
15  CA-2014-115791 2014-01-16    DL-13315  ...   124.200        3  -31.0500
16  CA-2014-115791 2014-01-16    DL-13315  ...   127.104        6   28.5984
17  CA-2014-115791 2014-01-16    DL-13315  ...    30.072        3   10.1493
18  CA-2014-115791 2014-01-16    DL-13315  ...    18.588        2  -13.6312
19  CA-2014-146591 2014-01-19    TS-21340  ...    32.340       10  -23.7160
20  CA-2014-146591 2014-01-19    TS-21340  ...    56.064        4   19.6224
21  CA-2014-146591 2014-01-19    TS-21340  ...   108.720        5   36.6930
22  CA-2014-146591 2014-01-19    TS-21340  ...   181.470        5 -320.5970
23  CA-2014-167927 2014-01-20    XP-21865  ...   272.940        3   30.0234
24  CA-2014-167927 2014-01-20    XP-21865  ...    13.980        1    4.0542
25  CA-2014-167927 2014-01-20    XP-21865  ...    29.700        5   13.3650
26  CA-2014-167927 2014-01-20    XP-21865  ...    14.730        3    4.8609
27  CA-2014-167927 2014-01-20    XP-21865  ...   247.716        4   93.5816
28  US-2014-147627 2014-01-20    HL-15040  ...  1067.940        3  224.2674
29  CA-2014-167927 2014-01-20    XP-21865  ...    66.580        2   15.9792
30  US-2014-147627 2014-01-20    HL-15040  ...   699.930        7  181.9818
31  CA-2014-167927 2014-01-20    XP-21865  ...    43.920        3   12.7368
32  CA-2014-167927 2014-01-20    XP-21865  ...    19.050        5    8.9535
33  US-2014-147627 2014-01-20    HL-15040  ...    22.960        7    6.6584
34  US-2014-147627 2014-01-20    HL-15040  ...    38.600        4   11.5800
35  US-2014-147627 2014-01-20    HL-15040  ...     6.630        3    1.7901
36  CA-2014-148614 2014-01-20    MV-17485  ...    19.360        2    9.2928
37  US-2014-147627 2014-01-20    HL-15040  ...    23.340        3   10.9698
38  CA-2014-148614 2014-01-20    MV-17485  ...    19.300        2    5.7900
39  CA-2014-110422 2014-01-21    TB-21400  ...    25.248        3    4.1028
40  CA-2014-102645 2014-01-23    IM-15055  ...    40.080        6   19.2384
41  CA-2014-146997 2014-01-23    SG-20605  ...     5.940        3    0.0000
42  US-2014-117163 2014-01-27    EJ-13720  ...    57.230        1   14.3075
43  US-2014-117163 2014-01-27    EJ-13720  ...   333.000        3  -16.6500
44  US-2014-117163 2014-01-27    EJ-13720  ...    36.440        4   12.0252
45  CA-2014-100328 2014-01-28    JC-15340  ...     3.928        1    1.3257
46  CA-2014-134103 2014-01-30    MV-18190  ...    10.560        2    4.7520
47  CA-2014-134103 2014-01-30    MV-18190  ...   229.940        2    6.8982
48  CA-2014-115161 2014-01-31    LC-17050  ...   290.666        2    3.4196

[49 rows x 9 columns]

In [33]:
def data3(tah, bul, seg):
  df = data1(tah, bul)
  teks = str(seg)
  seg_unique = ["Consumer","Home Office","Corporate"]
  if seg in seg_unique:
    segment1 = df[df['segment'] == teks]
    hasil = segment1.reset_index(drop=True)
    print("customer_id_count :", len(hasil['customer_id'].unique()))
    print("quantity_sum :", hasil['quantity'].sum())
    print("sales_sum :", hasil['sales'].sum())
    print("profit_sum :", hasil['profit'].sum())
  else:
    print("Maaf Anda Salah Input Data")

In [ ]:
data3(2014, 1, 'Consumer')

customer_id_count : 22
quantity_sum : 180
sales_sum : 6927.817
profit_sum : 766.2263

In [ ]:
data3(2014,2, 'Consumer')

customer_id_count : 15
quantity_sum : 95
sales_sum : 3167.854
profit_sum : 496.8669

In [ ]:
data3(2014,3, 'Consumer')

customer_id_count : 38
quantity_sum : 296
sales_sum : 11869.304
profit_sum : 597.2773

In [ ]:
data3(2014,4, 'Consumer')

customer_id_count : 23
quantity_sum : 184
sales_sum : 9108.612000000001
profit_sum : 1155.0756999999999

In [ ]:
print(184+296+95+180)

755