<a href="https://colab.research.google.com/github/setyo-dwi-pratama/data-analyst/blob/master/sales1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Packages/Library yang dibutuhkan:**

In [1]:
import numpy as np
import pandas as pd

# **Persiapan Dataset**

In [2]:
sales = pd.read_csv("sales.csv") #input file dataset sales
sales_copy = sales #antisipasi dataset

FileNotFoundError: ignored

In [ ]:
sales = pd.DataFrame(sales) #masukkan dataset ke variabel sales dengan mengkonversi ke dataframe

In [ ]:
sales.info() #melihat informasi awal dari sebuah data

In [ ]:
sales.columns #melihat kolom/series yang ada di dataset

In [ ]:
sales.head() #melihat data teratas pada dataset

In [ ]:
sales.describe()

In [ ]:
sales['segment'].unique() ##ambilkan saya data unique dari dataframe yang di kolom segment : konsumen, perusahaan, dan kantor

In [ ]:
sales['category'].unique() ##ambilkan saya data unique dari dataframe yang di kolom category : mebel, peralatan kantor, dan teknologi

In [ ]:
sales['sub_category'].unique() #ambilkan saya data unique dari dataframe yang di kolom sub_category

In [ ]:
sales['order_date'] = pd.to_datetime(sales['order_date']) #dari dataframe kolom order_date tolong ubah tipedatanya ke datetime

In [ ]:
df_sales = sales.sort_values(by=['order_date'], ignore_index=True) #dari dataframe diatas akan dimasukkan ke dalam variabel baru dan mereset index

In [ ]:
df_sales

#**Data Pertahun**
1. Dari dataframe df_sales, kolom yang digunakan adalah order_date, segment, category, sub_category, sales, quantity, dan profit.
2. Akan mengakses dataset berdasarkan tahun, yaitu 2014, 2015, 2016, dan 2016

In [ ]:
salesbaru = df_sales.loc[:,['order_date','segment','category','sub_category','sales','quantity','profit']] #akan dimasukkan kedalam variabel baru sebagai dasar analisa

In [ ]:
salesbaru.head()

In [ ]:
sales2014 = salesbaru.loc[salesbaru['order_date'] < '2015-01-01'] #variabel sales2014 : ambilkan data dari dataframe berdasarkan kolom order_date yang tahunnya < 2015-01-01

In [ ]:
sales2014 = sales2014.sort_values(by=['order_date'], ignore_index=True) #mereset index

In [ ]:
sales2015 = salesbaru.loc[(salesbaru['order_date'] < '2016-01-01') & (salesbaru['order_date'] >= '2015-01-01') ] #mengambil data berdasar tahun 2015

In [ ]:
sales2015 = sales2015.sort_values(by=['order_date'], ignore_index=True) #mereset index

In [ ]:
sales2016 = salesbaru.loc[(salesbaru['order_date'] < '2017-01-01') & (salesbaru['order_date'] >= '2016-01-01') ] #mengambil data berdasar tahun 2016

In [ ]:
sales2016 = sales2016.sort_values(by=['order_date'], ignore_index=True) #mereset index

In [ ]:
sales2017 = salesbaru.loc[(salesbaru['order_date'] >= '2017-01-01')] #mengambil data berdasar tahun 2017

In [ ]:
sales2017 = sales2017.sort_values(by=['order_date'], ignore_index=True) #mereset index

## **Proses dataset pertahun**

In [ ]:
#hasil untuk dataset 2014
#sum(), count(), describe(), info()

print(sales2014['sales'].sum()) #ambilkan jumlah dari kolom sales di tahun 2014
print(sales2014['quantity'].sum()) #ambilkan jumlah dari kolom quantity di tahun 2014
print(sales2014['profit'].sum()) #ambilkan jumlah dari kolom profit di tahun 2014

In [ ]:
print(sales2014.count())

In [ ]:
#fungsi diatas juga sebenarnya bisa dilakukan dengan cara berikut
#salesbaru['quantity'].loc[salesbaru['order_date'] < '2015-01-01'].sum()

In [ ]:
#sales2014.loc[sales2014['segment'] == 'Consumer'].count()
#sales2014.loc[sales2014['segment'] == 'Corporate'].count()
#sales2014.loc[sales2014['segment'] == 'Home Office'].count() : ketika ini tidak jalan, coba tambahkan '`Home Office`'
sales2014.groupby('segment')['quantity'].count()

In [ ]:
sales2014.groupby('segment')['quantity'].sum()

In [ ]:
sales2014.groupby('category')['quantity'].sum()

In [ ]:
sales2014.groupby('sub_category')['quantity'].sum()

In [ ]:
sales2015.groupby('sub_category')['quantity'].sum()

In [ ]:
sales2016.groupby('sub_category')['quantity'].sum()

In [ ]:
sales2017.groupby('sub_category')['quantity'].sum()

In [ ]:
salesbaru.groupby('sub_category')['quantity'].sum()

In [ ]:
sales2014.groupby('segment')['quantity'].sum()

In [ ]:
sales2015.groupby('category')['quantity'].sum()

In [ ]:
sales2016.groupby('category')['quantity'].sum()

In [ ]:
sales2017.groupby('category')['quantity'].sum()

In [ ]:
salesbaru.groupby('category')['quantity'].sum()

# **MARI DIOLAH :**
# A. kita sekarang sudah mempunyai 5 datasete : sales2014, sales2015, sales2016, sales2017 dan salesbaru(data keseluruhan)
# B. kita akan membandingkan dari ke lima dataset

In [ ]:
#sales2014
#sales2015
#sales2016
#sales2017
salesbaru

# 1. membandingkan banyaknya data dari semua dataset, berdasarkan kolom segment dengan sales

In [ ]:
#sales2014.groupby('segment')['sales'].count()
#sales2015.groupby('segment')['sales'].count()
#sales2016.groupby('segment')['sales'].count()
#sales2017.groupby('segment')['sales'].count()
salesbaru.groupby('segment')['sales'].count()

## 2. membandingkan banyaknya data dari semua dataset, berdasarkan kolom segment dengan quantity

In [ ]:
#sales2014.groupby('segment')['quantity'].count()
#sales2015.groupby('segment')['quantity'].count()
#sales2016.groupby('segment')['quantity'].count()
#sales2017.groupby('segment')['quantity'].count()
salesbaru.groupby('segment')['quantity'].count()

## KESIMPULAN:
Dari No 1 dan 2, kita dapat menyimpulkan bahwa untuk melihat data berdasarkan kolom segment dengan semua kolom lainnya, akan mendapatkan hasil yang sama seperti No 1 dan 2

# 3. membandingkan banyaknya data dari semua dataset, berdasarkan kolom category dengan sales

In [ ]:
#sales2014.groupby('category')['sales'].count()
#sales2015.groupby('category')['sales'].count()
#sales2016.groupby('category')['sales'].count()
#sales2017.groupby('category')['sales'].count()
salesbaru.groupby('category')['sales'].count()

# KESIMPULAN:
Dari No 3, kita dapat menyimpulkan bahwa untuk melihat data berdasarkan kolom category dengan semua kolom lainnya, akan mendapatkan hasil yang sama seperti No 3

#4. membandingkan banyaknya data dari semua dataset, berdasarkan kolom sub_category dengan sales

In [ ]:
#sales2014.groupby('sub_category')['sales'].count()
#sales2015.groupby('sub_category')['sales'].count()
#sales2016.groupby('sub_category')['sales'].count()
#sales2017.groupby('sub_category')['sales'].count()
salesbaru.groupby('sub_category')['sales'].count()

# KESIMPULAN:
Dari No 5, kita dapat menyimpulkan bahwa untuk melihat data berdasarkan kolom sub_category dengan semua kolom lainnya, akan mendapatkan hasil yang sama seperti No 4

# 5. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom segment dengan sales

In [ ]:
#sales2014.groupby('segment')['sales'].sum()
#sales2015.groupby('segment')['sales'].sum()
#sales2016.groupby('segment')['sales'].sum()
#sales2017.groupby('segment')['sales'].sum()
salesbaru.groupby('segment')['sales'].sum()

# 6. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom segment dengan quantity

In [ ]:
#sales2014.groupby('segment')['quantity'].sum()
#sales2015.groupby('segment')['quantity'].sum()
#sales2016.groupby('segment')['quantity'].sum()
#sales2017.groupby('segment')['quantity'].sum()
salesbaru.groupby('segment')['quantity'].sum()

# 7. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom segment dengan profit

In [ ]:
#sales2014.groupby('segment')['profit'].sum()
#sales2015.groupby('segment')['profit'].sum()
#sales2016.groupby('segment')['profit'].sum()
#sales2017.groupby('segment')['profit'].sum()
salesbaru.groupby('segment')['profit'].sum()

# 8. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom category dengan sales

In [ ]:
#sales2014.groupby('category')['sales'].sum()
#sales2015.groupby('category')['sales'].sum()
#sales2016.groupby('category')['sales'].sum()
#sales2017.groupby('category')['sales'].sum()
salesbaru.groupby('category')['sales'].sum()

# 9. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom category dengan quantity

In [ ]:
#sales2014.groupby('category')['quantity'].sum()
#sales2015.groupby('category')['quantity'].sum()
#sales2016.groupby('category')['quantity'].sum()
#sales2017.groupby('category')['quantity'].sum()
salesbaru.groupby('category')['quantity'].sum()

# 10. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom category dengan profit

In [ ]:
#sales2014.groupby('category')['profit'].sum()
#sales2015.groupby('category')['profit'].sum()
#sales2016.groupby('category')['profit'].sum()
#sales2017.groupby('category')['profit'].sum()
salesbaru.groupby('category')['profit'].sum()

# 11. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom sub_category dengan sales

In [ ]:
#sales2014.groupby('sub_category')['sales'].sum()
#sales2015.groupby('sub_category')['sales'].sum()
#sales2016.groupby('sub_category')['sales'].sum()
#sales2017.groupby('sub_category')['sales'].sum()
salesbaru.groupby('sub_category')['sales'].sum()

# 12. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom sub_category dengan quantity

In [ ]:
#sales2014.groupby('sub_category')['quantity'].sum()
#sales2015.groupby('sub_category')['quantity'].sum()
#sales2016.groupby('sub_category')['quantity'].sum()
#sales2017.groupby('sub_category')['quantity'].sum()
salesbaru.groupby('sub_category')['quantity'].sum()

# 13. membandingkan jumlah (sum) data dari semua dataset, berdasarkan kolom sub_category dengan profit

In [ ]:
#sales2014.groupby('sub_category')['profit'].sum()
#sales2015.groupby('sub_category')['profit'].sum()
#sales2016.groupby('sub_category')['profit'].sum()
#sales2017.groupby('sub_category')['profit'].sum()
salesbaru.groupby('sub_category')['profit'].sum()

# 14. dari No 1 - 13, mempunyai jalan alternatif, yaitu dengan menggunakan fungsi agg

example : berdasarkan kolom segment dengan sales

sedangkan untuk :

a. kolom segment dengan quantity

b. kolom segment dengan profit

c. kolom category dengan sales

d. kolom category dengan quantity

e. kolom category dengan profit

f. kolom sub_category dengan sales

g. kolom sub_category dengan quantity

h. kolom sub_category dengan profit

dicoba-coba sendiri

In [ ]:
#sales2014.groupby('segment')['sales'].agg(['count','sum'])
#sales2015.groupby('segment')['sales'].agg(['count','sum'])
#sales2016.groupby('segment')['sales'].agg(['count','sum'])
#sales2017.groupby('segment')['sales'].agg(['count','sum'])
salesbaru.groupby('segment')['sales'].agg(['count','sum'])

# 15. membandingkan semua dataset dengan fungsi describe()

example : 

a. berdasarkan kolom segment dengan sales

b. kolom segment dengan quantity

c. kolom segment dengan quantity

sedangkan untuk :

a. kolom category dengan sales

b. kolom category dengan quantity

c. kolom category dengan profit

d. kolom sub_category dengan sales

e. kolom sub_category dengan quantity

f. kolom sub_category dengan profit

dicoba-coba sendiri

In [ ]:
#sales2014.groupby('segment')['sales'].describe()
#sales2015.groupby('segment')['sales'].describe()
#sales2016.groupby('segment')['sales'].describe()
#sales2017.groupby('segment')['sales'].describe()
salesbaru.groupby('segment')['sales'].describe()

In [ ]:
#sales2014.groupby('segment')['profit'].describe()
#sales2015.groupby('segment')['profit'].describe()
#sales2016.groupby('segment')['profit'].describe()
#sales2016.groupby('segment')['profit'].describe()
salesbaru.groupby('segment')['profit'].describe()

In [ ]:
#sales2014.groupby('segment')['quantity'].describe()
#sales2015.groupby('segment')['quantity'].describe()
#sales2016.groupby('segment')['quantity'].describe()
#sales2017.groupby('segment')['quantity'].describe()
salesbaru.groupby('segment')['quantity'].describe()

# 16. membandingkan dari semua dataset, untuk melihat suatu produk yang banyak diminati

a. berdasarkan kolom segment dengan category

b. berdasarkan kolom segment dengan sub_category

c. berdasarkan kolom category dengan sub_category

In [ ]:
sales2014.groupby('segment')['category'].describe()

In [ ]:
sales2015.groupby('segment')['category'].describe()

In [ ]:
sales2016.groupby('segment')['category'].describe()

In [ ]:
sales2017.groupby('segment')['category'].describe()

In [ ]:
#sales2014.groupby('segment')['category'].describe()
#sales2015.groupby('segment')['category'].describe()
#sales2016.groupby('segment')['category'].describe()
#sales2017.groupby('segment')['category'].describe()
salesbaru.groupby('segment')['category'].describe()

In [ ]:
#sales2014.groupby('segment')['sub_category'].describe()
#sales2015.groupby('segment')['sub_category'].describe()
#sales2016.groupby('segment')['sub_category'].describe()
#sales2017.groupby('segment')['sub_category'].describe()
salesbaru.groupby('segment')['sub_category'].describe()

In [ ]:
#sales2104.groupby('category')['sub_category'].describe()
#sales2015.groupby('category')['sub_category'].describe()
#sales2016.groupby('category')['sub_category'].describe()
#sales2017.groupby('category')['sub_category'].describe()
salesbaru.groupby('category')['sub_category'].describe()

## 17. dari No 16, disini kita akan melihat untuk kondisi top dibandingan dengan category atau barang apa?

In [ ]:
salesbaru.groupby('segment')['category'].unique()

In [ ]:
salesbaru.groupby('segment')['sub_category'].unique()

In [ ]:
salesbaru.groupby('category')['sub_category'].unique()

# KESIMPULAN dari No 1-17: 

Simpulkan sendiri-sendiri

# 18. Berdasarkan Kolom order_date

a. ditahun 2014, 2015, 2016, 2017, dan semua tahun, pada hari apa barang banyak dikeluarkan (kolom quantity)

b. ditahun 2014, 2015, 2016, 2017, dan semua tahun, pada bulan apa barang banyak dikeluarkan (kolom quantity)