<a href="https://colab.research.google.com/github/setyo-dwi-pratama/data-analyst/blob/master/used_car_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MOBIL BEKAS DI INDIA**



Dataset merupakan data mobil bekas yang terdapat di india yang terdiri 6019 baris dan 12 kolom. Kolom yang terdapat pada dataset meliputi:

* Name : Nama merek dan model mobil

* Location : Lokasi mobil dijual

* Year : Tahun edisi mobil

* Kilometers_Driven : Total jarak pemakaian mobil oleh pengguna sebelumnya dalam satuan kilometer

* Fuel_Type : Tipe bahan bakar yang digunakan mobil (Petrol/Diesel/Electric/CNG/LPG)

* Transmission : Tipe transmisi yang digunakan mobil (Automatic/Manual)

* Owner_Type : Jenis kepemilikan mobil (First/Second/Third/Fourth & Above)

* Mileage : Tingkat konsumsi bahan bakar dalam satuan kmpl atau km/kg

* Engine : Kapasitas mesin mobil dalam satuan CC

* Power : Tenaga maksimum dari mesin mobil dalam satuan bph

* Seats : Jumlahlah kursi pada mobil

* Price : Harga mobil bekas dalam satuan INR Lakhs (Indian Rupee)

Soal:
1. Merek mobil apa saja yang tersedia dan ada berapa banyak mobil untuk tiap merek
tersebut?
2. Kota apa yang memiliki mobil bekas paling banyak?
3. Bagaimana distribusi tahun edisi mobil-mobil bekas tersebut?
4. Berapa banyak mobil yang memiliki total jarak pemakaian di bawah 100.000 kilometer?
5. Pada batas berapa kilometer total jarak pemakaian bisa dikategorikan sebagai rendah
atau tinggi? Sertakan argumen yang mendukung jawaban.
6. Apakah terdapat outlier pada kolom Kilometers_Driven? Sertakan argumen yang
mendukung jawaban.
7. Apakah tahun pembuatan mobil berpengaruh terhadap total jarak pemakaian? Sertakan
argumen yang mendukung jawaban.
8. Berapa banyak mobil yang merupakan kepemilikan ketiga atau lebih?
9. Tipe bahan bakar apa yang memiliki mileage (konsumsi bahan bakar) paling hemat?
10. Apa saja faktor-faktor yang mempengaruhi harga mobil bekas di India? Sertakan
argumen yang mendukung jawaban.

Selain dari 10 soal di atas, kalian dianjurkan untuk membuat analisis-analisis tambahan
mengenai dataset tersebut untuk mendapatkan insight yang lebih banyak.

# **Packages:**

In [107]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# **Input Data:**

In [108]:
cars = pd.read_csv('https://raw.githubusercontent.com/setyo-dwi-pratama/data-analyst/master/used_car_data.csv')

In [109]:
cars

                                  Name    Location  ...  Seats  Price
0               Maruti Wagon R LXI CNG      Mumbai  ...    5.0   1.75
1     Hyundai Creta 1.6 CRDi SX Option        Pune  ...    5.0  12.50
2                         Honda Jazz V     Chennai  ...    5.0   4.50
3                    Maruti Ertiga VDI     Chennai  ...    7.0   6.00
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  ...    5.0  17.74
...                                ...         ...  ...    ...    ...
6014                  Maruti Swift VDI       Delhi  ...    5.0   4.75
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  ...    5.0   4.00
6016             Mahindra Xylo D4 BSIV      Jaipur  ...    8.0   2.90
6017                Maruti Wagon R VXI     Kolkata  ...    5.0   2.65
6018             Chevrolet Beat Diesel   Hyderabad  ...    5.0   2.50

[6019 rows x 12 columns]

In [110]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

In [111]:
cars.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [112]:
#cars[cars.Seats.isnull()]

# Normalisasi Kolom Mileage:

In [113]:
cars['Mileage']

0       26.6 km/kg
1       19.67 kmpl
2        18.2 kmpl
3       20.77 kmpl
4        15.2 kmpl
           ...
6014     28.4 kmpl
6015     24.4 kmpl
6016     14.0 kmpl
6017     18.9 kmpl
6018    25.44 kmpl
Name: Mileage, Length: 6019, dtype: object

In [114]:
cars['Mileage'].isnull().sum()

2

In [115]:
cars['Mileage']=cars['Mileage'].str.replace('kmpl','') #menghapus karakter kmpl
cars['Mileage']=cars['Mileage'].str.replace('km/kg','') #menghapus karakter km/kg

In [116]:
cars[cars['Mileage'].isnull()] #melihat missing value pada kolom Mileage

                           Name Location  Year  ...   Power Seats  Price
4446       Mahindra E Verito D4  Chennai  2016  ...  41 bhp   5.0  13.00
4904  Toyota Prius 2009-2016 Z4   Mumbai  2011  ...  73 bhp   5.0  12.75

[2 rows x 12 columns]

In [117]:
cars['Mileage'].replace(np.nan, '0', inplace=True) #mengganti missing value pada kolom Mileage dengan 0

In [118]:
cars['Mileage']=cars['Mileage'].astype(float) #mengkonversi kolom Mileage dalam float

In [119]:
cars.loc[cars['Mileage']==0.0]

                                          Name    Location  ...  Seats  Price
14              Land Rover Freelander 2 TD4 SE        Pune  ...    5.0  17.50
67    Mercedes-Benz C-Class Progressive C 220d  Coimbatore  ...    5.0  35.67
79                      Hyundai Santro Xing XL   Hyderabad  ...    5.0   1.30
194                         Honda City 1.5 GXI   Ahmedabad  ...    NaN   2.95
229                           Ford Figo Diesel   Bangalore  ...    NaN   3.60
...                                        ...         ...  ...    ...    ...
5647                    Toyota Qualis Fleet A3      Mumbai  ...    8.0   2.20
5875  Mercedes-Benz C-Class Progressive C 220d   Ahmedabad  ...    5.0  35.00
5943                   Mahindra Jeep MM 540 DP     Chennai  ...    6.0   1.70
5972                    Hyundai Santro Xing GL      Mumbai  ...    5.0   1.39
6011                   Skoda Superb 3.6 V6 FSI   Hyderabad  ...    5.0   4.75

[70 rows x 12 columns]

In [120]:
cars['Mileage'].describe()

count    6019.000000
mean       18.128935
std         4.593436
min         0.000000
25%        15.160000
50%        18.150000
75%        21.100000
max        33.540000
Name: Mileage, dtype: float64

# Normalisasi Kolom Engine:

In [121]:
cars['Engine']

0        998 CC
1       1582 CC
2       1199 CC
3       1248 CC
4       1968 CC
         ...
6014    1248 CC
6015    1120 CC
6016    2498 CC
6017     998 CC
6018     936 CC
Name: Engine, Length: 6019, dtype: object

In [122]:
cars['Engine'].isnull().sum()

36

In [123]:
cars['Engine']=cars['Engine'].str.replace('CC','') #menghapus karakter CC

In [124]:
cars[cars['Engine'].isnull()] #melihat missing value pada kolom Engine

                                              Name    Location  ...  Seats  Price
194                             Honda City 1.5 GXI   Ahmedabad  ...    NaN   2.95
208                           Maruti Swift 1.3 VXi     Kolkata  ...    NaN   2.11
733                           Maruti Swift 1.3 VXi     Chennai  ...    NaN   1.75
749                   Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  26.50
1294                             Honda City 1.3 DX       Delhi  ...    NaN   3.20
1327                          Maruti Swift 1.3 ZXI   Hyderabad  ...    NaN   5.80
1385                            Honda City 1.5 GXI        Pune  ...    NaN   1.50
1460  Land Rover Range Rover Sport 2005 2012 Sport  Coimbatore  ...    NaN  40.88
2074                          Maruti Swift 1.3 LXI        Pune  ...    NaN   3.15
2096                     Hyundai Santro LP zipPlus  Coimbatore  ...    NaN   1.93
2264                           Toyota Etios Liva V        Pune  ...    NaN   2.95
2325                      Maruti Swift 1.3 VXI ABS        Pune  ...    NaN   4.70
2335                          Maruti Swift 1.3 VXi      Mumbai  ...    NaN   1.75
2530                       BMW 5 Series 520d Sedan       Kochi  ...    NaN  17.89
2542               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.15
2623                       BMW 5 Series 520d Sedan        Pune  ...    NaN  18.00
2668                          Maruti Swift 1.3 VXi     Kolkata  ...    NaN   4.24
2737                             Maruti Wagon R Vx      Jaipur  ...    NaN   0.70
2780               Hyundai Santro GLS II - Euro II        Pune  ...    NaN   1.60
2842               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.25
3272                       BMW 5 Series 520d Sedan      Mumbai  ...    NaN  10.50
3404                          Maruti Swift 1.3 VXi      Jaipur  ...    NaN   2.35
3520                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  14.50
3522               Hyundai Santro GLS II - Euro II       Kochi  ...    NaN   2.66
3810                   Honda CR-V AT With Sun Roof     Kolkata  ...    NaN  11.99
4011                        Fiat Punto 1.3 Emotion        Pune  ...    NaN   2.60
4152                  Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  16.11
4229                        Hyundai Santro Xing XG   Bangalore  ...    NaN   1.65
4577                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  13.85
4604                     Honda Jazz Select Edition        Pune  ...    NaN   3.15
4697                        Fiat Punto 1.2 Dynamic       Kochi  ...    NaN   3.93
4712                        Hyundai Santro Xing XG        Pune  ...    NaN   0.90
4952                        Fiat Punto 1.4 Emotion     Kolkata  ...    NaN   1.49
5015                          Maruti Swift 1.3 VXi       Delhi  ...    NaN   1.60
5185                          Maruti Swift 1.3 LXI       Delhi  ...    NaN   3.65
5270                            Honda City 1.5 GXI   Bangalore  ...    NaN   1.85

[36 rows x 12 columns]

In [125]:
cars['Engine'].replace(np.nan, '0', inplace=True) #mengganti missing vlaue pada kolom Engine dengan 0

In [126]:
cars['Engine']=cars['Engine'].astype(float) #mengkonversi kolom Engine dalam float

In [127]:
cars.loc[cars['Engine']==0.0]

                                              Name    Location  ...  Seats  Price
194                             Honda City 1.5 GXI   Ahmedabad  ...    NaN   2.95
208                           Maruti Swift 1.3 VXi     Kolkata  ...    NaN   2.11
733                           Maruti Swift 1.3 VXi     Chennai  ...    NaN   1.75
749                   Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  26.50
1294                             Honda City 1.3 DX       Delhi  ...    NaN   3.20
1327                          Maruti Swift 1.3 ZXI   Hyderabad  ...    NaN   5.80
1385                            Honda City 1.5 GXI        Pune  ...    NaN   1.50
1460  Land Rover Range Rover Sport 2005 2012 Sport  Coimbatore  ...    NaN  40.88
2074                          Maruti Swift 1.3 LXI        Pune  ...    NaN   3.15
2096                     Hyundai Santro LP zipPlus  Coimbatore  ...    NaN   1.93
2264                           Toyota Etios Liva V        Pune  ...    NaN   2.95
2325                      Maruti Swift 1.3 VXI ABS        Pune  ...    NaN   4.70
2335                          Maruti Swift 1.3 VXi      Mumbai  ...    NaN   1.75
2530                       BMW 5 Series 520d Sedan       Kochi  ...    NaN  17.89
2542               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.15
2623                       BMW 5 Series 520d Sedan        Pune  ...    NaN  18.00
2668                          Maruti Swift 1.3 VXi     Kolkata  ...    NaN   4.24
2737                             Maruti Wagon R Vx      Jaipur  ...    NaN   0.70
2780               Hyundai Santro GLS II - Euro II        Pune  ...    NaN   1.60
2842               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.25
3272                       BMW 5 Series 520d Sedan      Mumbai  ...    NaN  10.50
3404                          Maruti Swift 1.3 VXi      Jaipur  ...    NaN   2.35
3520                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  14.50
3522               Hyundai Santro GLS II - Euro II       Kochi  ...    NaN   2.66
3810                   Honda CR-V AT With Sun Roof     Kolkata  ...    NaN  11.99
4011                        Fiat Punto 1.3 Emotion        Pune  ...    NaN   2.60
4152                  Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  16.11
4229                        Hyundai Santro Xing XG   Bangalore  ...    NaN   1.65
4577                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  13.85
4604                     Honda Jazz Select Edition        Pune  ...    NaN   3.15
4697                        Fiat Punto 1.2 Dynamic       Kochi  ...    NaN   3.93
4712                        Hyundai Santro Xing XG        Pune  ...    NaN   0.90
4952                        Fiat Punto 1.4 Emotion     Kolkata  ...    NaN   1.49
5015                          Maruti Swift 1.3 VXi       Delhi  ...    NaN   1.60
5185                          Maruti Swift 1.3 LXI       Delhi  ...    NaN   3.65
5270                            Honda City 1.5 GXI   Bangalore  ...    NaN   1.85

[36 rows x 12 columns]

In [128]:
cars['Engine'].describe()

count    6019.000000
mean     1611.579498
std       612.449869
min         0.000000
25%      1197.000000
50%      1493.000000
75%      1969.000000
max      5998.000000
Name: Engine, dtype: float64

# Normalisasi Kolom Power:

In [129]:
cars['Power']

0       58.16 bhp
1       126.2 bhp
2        88.7 bhp
3       88.76 bhp
4       140.8 bhp
          ...
6014       74 bhp
6015       71 bhp
6016      112 bhp
6017     67.1 bhp
6018     57.6 bhp
Name: Power, Length: 6019, dtype: object

In [130]:
cars['Power'].isnull().sum()

36

In [131]:
cars['Power']=cars['Power'].str.replace('bhp','') #menghapus karakter bhp
cars['Power']=cars['Power'].str.replace('null','0') #mengganti karakter null dengan 0

In [132]:
cars[cars['Power'].isnull()] #melihat missing value pada kolom Power

                                              Name    Location  ...  Seats  Price
194                             Honda City 1.5 GXI   Ahmedabad  ...    NaN   2.95
208                           Maruti Swift 1.3 VXi     Kolkata  ...    NaN   2.11
733                           Maruti Swift 1.3 VXi     Chennai  ...    NaN   1.75
749                   Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  26.50
1294                             Honda City 1.3 DX       Delhi  ...    NaN   3.20
1327                          Maruti Swift 1.3 ZXI   Hyderabad  ...    NaN   5.80
1385                            Honda City 1.5 GXI        Pune  ...    NaN   1.50
1460  Land Rover Range Rover Sport 2005 2012 Sport  Coimbatore  ...    NaN  40.88
2074                          Maruti Swift 1.3 LXI        Pune  ...    NaN   3.15
2096                     Hyundai Santro LP zipPlus  Coimbatore  ...    NaN   1.93
2264                           Toyota Etios Liva V        Pune  ...    NaN   2.95
2325                      Maruti Swift 1.3 VXI ABS        Pune  ...    NaN   4.70
2335                          Maruti Swift 1.3 VXi      Mumbai  ...    NaN   1.75
2530                       BMW 5 Series 520d Sedan       Kochi  ...    NaN  17.89
2542               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.15
2623                       BMW 5 Series 520d Sedan        Pune  ...    NaN  18.00
2668                          Maruti Swift 1.3 VXi     Kolkata  ...    NaN   4.24
2737                             Maruti Wagon R Vx      Jaipur  ...    NaN   0.70
2780               Hyundai Santro GLS II - Euro II        Pune  ...    NaN   1.60
2842               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.25
3272                       BMW 5 Series 520d Sedan      Mumbai  ...    NaN  10.50
3404                          Maruti Swift 1.3 VXi      Jaipur  ...    NaN   2.35
3520                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  14.50
3522               Hyundai Santro GLS II - Euro II       Kochi  ...    NaN   2.66
3810                   Honda CR-V AT With Sun Roof     Kolkata  ...    NaN  11.99
4011                        Fiat Punto 1.3 Emotion        Pune  ...    NaN   2.60
4152                  Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  16.11
4229                        Hyundai Santro Xing XG   Bangalore  ...    NaN   1.65
4577                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  13.85
4604                     Honda Jazz Select Edition        Pune  ...    NaN   3.15
4697                        Fiat Punto 1.2 Dynamic       Kochi  ...    NaN   3.93
4712                        Hyundai Santro Xing XG        Pune  ...    NaN   0.90
4952                        Fiat Punto 1.4 Emotion     Kolkata  ...    NaN   1.49
5015                          Maruti Swift 1.3 VXi       Delhi  ...    NaN   1.60
5185                          Maruti Swift 1.3 LXI       Delhi  ...    NaN   3.65
5270                            Honda City 1.5 GXI   Bangalore  ...    NaN   1.85

[36 rows x 12 columns]

In [133]:
cars['Power'].replace(np.nan, '0', inplace=True) #mengganti missing vlaue pada kolom Power dengan 0

In [134]:
cars['Power']=cars['Power'].astype(float) #mengkonversi kolom Power dalam float

In [135]:
cars.loc[cars['Power']==0.0]

                                      Name   Location  ...  Seats  Price
76                Ford Fiesta 1.4 SXi TDCi     Jaipur  ...    5.0   2.00
79                  Hyundai Santro Xing XL  Hyderabad  ...    5.0   1.30
89                  Hyundai Santro Xing XO  Hyderabad  ...    5.0   2.10
120   Hyundai Santro Xing XL eRLX Euro III     Mumbai  ...    5.0   0.85
143    Hyundai Santro Xing XO eRLX Euro II      Kochi  ...    5.0   1.67
...                                    ...        ...  ...    ...    ...
5873   Hyundai Santro Xing XO eRLX Euro II       Pune  ...    5.0   1.20
5893                     Maruti Estilo LXI    Chennai  ...    NaN   1.75
5925           Skoda Laura Classic 1.8 TSI       Pune  ...    5.0   2.85
5943               Mahindra Jeep MM 540 DP    Chennai  ...    6.0   1.70
5985                       Toyota Etios GD      Delhi  ...    5.0   3.88

[143 rows x 12 columns]

In [136]:
cars['Power'].describe()

count    6019.000000
mean      110.562372
std        55.956041
min         0.000000
25%        74.000000
50%        91.100000
75%       138.030000
max       560.000000
Name: Power, dtype: float64

# Normalisasi Kolom Seats:

In [137]:
cars['Seats']

0       5.0
1       5.0
2       5.0
3       7.0
4       5.0
       ...
6014    5.0
6015    5.0
6016    8.0
6017    5.0
6018    5.0
Name: Seats, Length: 6019, dtype: float64

In [138]:
cars['Seats'].isnull().sum()

42

In [139]:
cars[cars['Seats'].isnull()] #melihat missing value pada kolom Seats

                                              Name    Location  ...  Seats  Price
194                             Honda City 1.5 GXI   Ahmedabad  ...    NaN   2.95
208                           Maruti Swift 1.3 VXi     Kolkata  ...    NaN   2.11
229                               Ford Figo Diesel   Bangalore  ...    NaN   3.60
733                           Maruti Swift 1.3 VXi     Chennai  ...    NaN   1.75
749                   Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  26.50
1294                             Honda City 1.3 DX       Delhi  ...    NaN   3.20
1327                          Maruti Swift 1.3 ZXI   Hyderabad  ...    NaN   5.80
1385                            Honda City 1.5 GXI        Pune  ...    NaN   1.50
1460  Land Rover Range Rover Sport 2005 2012 Sport  Coimbatore  ...    NaN  40.88
1917                            Honda City 1.5 EXI      Jaipur  ...    NaN   1.70
2074                          Maruti Swift 1.3 LXI        Pune  ...    NaN   3.15
2096                     Hyundai Santro LP zipPlus  Coimbatore  ...    NaN   1.93
2264                           Toyota Etios Liva V        Pune  ...    NaN   2.95
2325                      Maruti Swift 1.3 VXI ABS        Pune  ...    NaN   4.70
2335                          Maruti Swift 1.3 VXi      Mumbai  ...    NaN   1.75
2369                             Maruti Estilo LXI     Chennai  ...    NaN   1.50
2530                       BMW 5 Series 520d Sedan       Kochi  ...    NaN  17.89
2542               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.15
2623                       BMW 5 Series 520d Sedan        Pune  ...    NaN  18.00
2668                          Maruti Swift 1.3 VXi     Kolkata  ...    NaN   4.24
2737                             Maruti Wagon R Vx      Jaipur  ...    NaN   0.70
2780               Hyundai Santro GLS II - Euro II        Pune  ...    NaN   1.60
2842               Hyundai Santro GLS II - Euro II   Bangalore  ...    NaN   3.25
3272                       BMW 5 Series 520d Sedan      Mumbai  ...    NaN  10.50
3404                          Maruti Swift 1.3 VXi      Jaipur  ...    NaN   2.35
3520                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  14.50
3522               Hyundai Santro GLS II - Euro II       Kochi  ...    NaN   2.66
3800                   Ford Endeavour Hurricane LE      Mumbai  ...    NaN   7.00
3810                   Honda CR-V AT With Sun Roof     Kolkata  ...    NaN  11.99
3882                             Maruti Estilo LXI     Kolkata  ...    NaN   2.50
4011                        Fiat Punto 1.3 Emotion        Pune  ...    NaN   2.60
4152                  Land Rover Range Rover 3.0 D      Mumbai  ...    NaN  16.11
4229                        Hyundai Santro Xing XG   Bangalore  ...    NaN   1.65
4577                       BMW 5 Series 520d Sedan       Delhi  ...    NaN  13.85
4604                     Honda Jazz Select Edition        Pune  ...    NaN   3.15
4697                        Fiat Punto 1.2 Dynamic       Kochi  ...    NaN   3.93
4712                        Hyundai Santro Xing XG        Pune  ...    NaN   0.90
4952                        Fiat Punto 1.4 Emotion     Kolkata  ...    NaN   1.49
5015                          Maruti Swift 1.3 VXi       Delhi  ...    NaN   1.60
5185                          Maruti Swift 1.3 LXI       Delhi  ...    NaN   3.65
5270                            Honda City 1.5 GXI   Bangalore  ...    NaN   1.85
5893                             Maruti Estilo LXI     Chennai  ...    NaN   1.75

[42 rows x 12 columns]

In [140]:
cars['Seats'].replace(np.nan, '0', inplace=True) #mengganti missing value pada kolom Seats dengan 0

In [141]:
cars['Seats']=cars['Seats'].astype(float) #mengkonversi kolom Seats dalam float

In [142]:
cars[cars['Seats']==0.0]

                                              Name    Location  ...  Seats  Price
194                             Honda City 1.5 GXI   Ahmedabad  ...    0.0   2.95
208                           Maruti Swift 1.3 VXi     Kolkata  ...    0.0   2.11
229                               Ford Figo Diesel   Bangalore  ...    0.0   3.60
733                           Maruti Swift 1.3 VXi     Chennai  ...    0.0   1.75
749                   Land Rover Range Rover 3.0 D      Mumbai  ...    0.0  26.50
1294                             Honda City 1.3 DX       Delhi  ...    0.0   3.20
1327                          Maruti Swift 1.3 ZXI   Hyderabad  ...    0.0   5.80
1385                            Honda City 1.5 GXI        Pune  ...    0.0   1.50
1460  Land Rover Range Rover Sport 2005 2012 Sport  Coimbatore  ...    0.0  40.88
1917                            Honda City 1.5 EXI      Jaipur  ...    0.0   1.70
2074                          Maruti Swift 1.3 LXI        Pune  ...    0.0   3.15
2096                     Hyundai Santro LP zipPlus  Coimbatore  ...    0.0   1.93
2264                           Toyota Etios Liva V        Pune  ...    0.0   2.95
2325                      Maruti Swift 1.3 VXI ABS        Pune  ...    0.0   4.70
2335                          Maruti Swift 1.3 VXi      Mumbai  ...    0.0   1.75
2369                             Maruti Estilo LXI     Chennai  ...    0.0   1.50
2530                       BMW 5 Series 520d Sedan       Kochi  ...    0.0  17.89
2542               Hyundai Santro GLS II - Euro II   Bangalore  ...    0.0   3.15
2623                       BMW 5 Series 520d Sedan        Pune  ...    0.0  18.00
2668                          Maruti Swift 1.3 VXi     Kolkata  ...    0.0   4.24
2737                             Maruti Wagon R Vx      Jaipur  ...    0.0   0.70
2780               Hyundai Santro GLS II - Euro II        Pune  ...    0.0   1.60
2842               Hyundai Santro GLS II - Euro II   Bangalore  ...    0.0   3.25
3272                       BMW 5 Series 520d Sedan      Mumbai  ...    0.0  10.50
3404                          Maruti Swift 1.3 VXi      Jaipur  ...    0.0   2.35
3520                       BMW 5 Series 520d Sedan       Delhi  ...    0.0  14.50
3522               Hyundai Santro GLS II - Euro II       Kochi  ...    0.0   2.66
3800                   Ford Endeavour Hurricane LE      Mumbai  ...    0.0   7.00
3810                   Honda CR-V AT With Sun Roof     Kolkata  ...    0.0  11.99
3882                             Maruti Estilo LXI     Kolkata  ...    0.0   2.50
3999             Audi A4 3.2 FSI Tiptronic Quattro   Hyderabad  ...    0.0  18.00
4011                        Fiat Punto 1.3 Emotion        Pune  ...    0.0   2.60
4152                  Land Rover Range Rover 3.0 D      Mumbai  ...    0.0  16.11
4229                        Hyundai Santro Xing XG   Bangalore  ...    0.0   1.65
4577                       BMW 5 Series 520d Sedan       Delhi  ...    0.0  13.85
4604                     Honda Jazz Select Edition        Pune  ...    0.0   3.15
4697                        Fiat Punto 1.2 Dynamic       Kochi  ...    0.0   3.93
4712                        Hyundai Santro Xing XG        Pune  ...    0.0   0.90
4952                        Fiat Punto 1.4 Emotion     Kolkata  ...    0.0   1.49
5015                          Maruti Swift 1.3 VXi       Delhi  ...    0.0   1.60
5185                          Maruti Swift 1.3 LXI       Delhi  ...    0.0   3.65
5270                            Honda City 1.5 GXI   Bangalore  ...    0.0   1.85
5893                             Maruti Estilo LXI     Chennai  ...    0.0   1.75

[43 rows x 12 columns]

In [143]:
cars['Seats'].describe()

count    6019.000000
mean        5.241901
std         0.918025
min         0.000000
25%         5.000000
50%         5.000000
75%         5.000000
max        10.000000
Name: Seats, dtype: float64

# Bagian Normalisasi:


1. Kolom Mileage
    * Menghapus Karakter kmpl dan km/kg
    * Mengganti missing value dengan string 0
    * Mengkonversi string 0 dan semua data ke dalam type data float

2. Kolom Engine
    * Menghapus Karakter CC
    * Mengganti missing value dengan string 0
    * Mengkonversi string 0 dan semua data ke dalam type data float

3. Kolom Power
    * Menghapus Karakter bhp
    * Mengganti karakter null dengan string 0
    * Mengkonversi string 0 dan semua data ke dalam type data float

4. Kolom Seats
    * Mengganti Missing value dengan string 0
    * Mengkonversi string 0 ke dalam type data float

# Mengganti Nilai 0

Setelah semua dinormalisasi dan missing value dirubah ke nilai 0. Selanjutnya, semua kolom Mileage, Engine, Power dan Seats diganti dengan nilai rata-rata, kecuali pada kolom Seats kita ganti dengan median

In [150]:
cars.loc[cars['Mileage']==0,'Mileage']=np.NaN
cars.loc[cars['Engine']==0,'Engine']=np.NaN
cars.loc[cars['Power']==0,'Power']=np.NaN
cars.loc[cars['Seats']==0,'Seats']=np.NaN


cars['Mileage']=cars['Mileage'].fillna(cars['Mileage'].mean())
cars['Engine']=cars['Engine'].fillna(cars['Engine'].mean())
cars['Power']=cars['Power'].fillna(cars['Power'].mean())
cars['Seats']=cars['Seats'].fillna(cars['Seats'].median())